---
import Books from "./icons/Books.astro"
import Button from "./Button.astro"
const {its, titulo1, python, titulo2, javascript, titulo3, docker, titulo4, institute, experience} = Astro.props;

const exp = [
  {
    institue: institute,
    title: titulo1,
    description: its,
    year:"2018-2020",
  },
  {
    institue: "Udemy",
    title: titulo2,
    description: python,
    year:"2021-2022",
  },
  {
    institue: "Udemy",
    title: titulo3,
    description: javascript,
    year:"2022-2023",
  },
  {
    institue: "Udemy",
    title: docker,
    description: titulo4,
    year:"2023-2024",
  }, 
];
---
<p class="text-2xl font-bold text-gray-100 dark:text-white px-36 flex mb-6">
<Books/>
  {experience}
</p>
  
<div class="relative mx-12 pb-2 flex before:left-[32px] before:abslute before:block before:h-full before:border-l-2 before:border-black/20 dark:before:border-white/15 before:content-[''] md:grid-cols-5 md:gap-10 md:space-x-4 px-26]">
  <div class="relative mb-12 md:col-span-2 pr-40 mr-30"> 
<div class="sticky top-0">
 { 
      exp.map ((items) => (
      <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
    <div class="ml-12 ">
      <time class="flex p-0 m-0 text-sm text-gray-600/80 daark:text-white/80">{items.year}</time>
      <h3 class="font-semibold text-yellow-400 text-xl">{items.title}, {items.institue}</h3>
        <p class="text-white">{items.description}</p>
      <Button/>
    </div>
   ))
      }
</div>
  </div>  
  </div>








