---
import Books from "./icons/Books.astro"
const {its, titulo1, python, titulo2, javascript, titulo3, docker, titulo4, institute, experience} = Astro.props;

const exp = [
  {
    institue: institute,
    title: titulo1,
    description: its,
    year:"2018-2020",
    certificado:"",
  },
  {
    institue: "Udemy",
    title: titulo2,
    description: python,
    year:"2021-2022",
    certificado:"https://udemy-certificate.s3.amazonaws.com/pdf/UC-1aff4b92-a848-479c-a242-7d62f0e60ab0.pdf",
  },
  {
    institue: "Udemy",
    title: titulo3,
    description: javascript,
    year:"2022-2023",
    certificado:"https://udemy-certificate.s3.amazonaws.com/pdf/UC-d2da7f5d-d789-4a28-9c8f-83af6dbceb7e.pdf",
  },
  {
    institue: "Udemy",
    title: docker,
    description: titulo4,
    year:"2023-2024",
    certificado:"https://udemy-certificate.s3.amazonaws.com/pdf/UC-a9666240-6277-4acd-868b-59d07d414a9f.pdf",
  }, 
];
---
<p class="text-2xl font-bold text-gray-100 dark:text-white px-36 flex mb-6">
<Books/>
  {experience}
</p>

{ 
  exp.map((item) => (
<div class="flex flex-col bg-white border border-gray-200 shadow-2xs rounded-xl p-4 md:p-5 dark:bg-neutral-900 dark:border-neutral-700 dark:shadow-slate-950/70 w-md"> 
  <h3 class="text-lg font-bold text-gray-800 dark:text-white">{item.title}, {item.institue}</h3>
  <p class="mt-1 text-xs font-medium uppercase text-gray-500 dark:text-neutral-500">
    {item.year}
  </p>
  <p class="mt-2 text-gray-500 dark:text-neutral-400">
    {item.description}
  </p>
</div>
  ))
}
